@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f5f7;
  height: 100%;
}

.container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 764px) {
  .container {
    max-width: 764px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/**********************/
/*    Backgrounds     */
/**********************/
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f4f5f7;
}
.bg-primary {
  background-color: #0165ff;
}

/**********************/
/*        Flex        */
/**********************/
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}

/**********************/
/*        Text        */
/**********************/
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 0.65rem;
}
.text-md {
  font-size: 0.85rem;
}
.text-xl {
  font-size: 1.35rem;
}

.uppercase {
  text-transform: uppercase;
}
.text-primary {
  color: #0165ff;
}
.text-light {
  color: #6b778c;
}
.text-light-blue {
  color: #eaf2fe;
}
.text-dark {
  color: #242325;
}

/**********************/
/*      Spacing       */
/**********************/
.ml-1 {
  margin-left: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}

.m-3 {
  margin: 0.75rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.mr-3 {
  margin-right: 0.75rem;
}

.m-6 {
  margin: 1.5rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.ml-6 {
  margin-left: 1.5rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.p-1 {
  padding: 0.25rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-6 {
  padding: 1.5rem;
}
.py-1 {
  padding: 0.25rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/**********************/
/*      Borders       */
/**********************/
.rounded-sm {
  border-radius: 0.25rem;
}
.rounded {
  border-radius: 0.75rem;
}

.border {
  border-style: solid;
  border-width: 0;
}
.border-1 {
  border-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-gray {
  border-color: #f4f5f7;
}
.border-primary {
  border-color: #0165ff;
}

/**********************/
/*       Sizing       */
/**********************/
.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.h-100 {
  height: 100%;
}
.mh-100 {
  min-height: 100vh;
}

.shadow-xl {
  box-shadow: 0 8px 16px rgba(84, 84, 84, 0.2);
}
